body{
    background-color: #0a0a0a;
    font-family: ubuntu Mono , cursive;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: grey;
}
h5:hover{
    color: #07f763;
}
.subject:hover,
  .subject:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



.heading{
    margin: 40px 0 60px;
    font-family: Calistoga, cursive ;
    text-align: center;
    letter-spacing: 2px;
    color: rgba(255, 0, 76, 0.897);
    font-weight: bolder;
    font-size: 40px;
}
   /* Heading section 1 Title  */

   .header {
    padding: 80px;
    background-color: rgb(31, 29, 29);
    text-align: center;
    
    color: rgb(0, 0, 0);
}
    .heading_1{
        line-height: 2;
        color: #09d5f0;
        display: block;
        font-family: "Dancing Script", cursive ;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 15px;
        animation: moveInLeft 1s ease-out;
        
    }
    @keyframes moveInLeft {
        0%{
            opacity: 0;
            transform: translate(-100px);
        }
        100%{
            opacity: 1;
            transform: translate(0);
        }
    }
    
    .heading_2{
        display: block;
        font-family: ubuntu Mono , cursive;
        color: #ee12acdc;
        font-size: 23px;
        letter-spacing: 10px;
        font-weight: lighter;
        animation: moveInRight 1s ease-out;
        
    }
    
    @keyframes moveInRight{
        0%{
            opacity: 0;
        transform: translate(100px);
        }
        100%{
            opacity: 100%;
            transform: translate(0);
        }
        
    }
    
        /* END OF SECTION 1 TITLE PAGE */
    
    /* Section 2 What we do */
.section_2{
    background-color: #ffffffcc;
    padding-bottom: 50px;
}

.wwd{
    line-height: 1.7;
}

    /* End of Section 2 What we do */

    /* Section 3 Notes */


.button_div{
    text-align: center;
}

.notes_button{
    
    text-align: center;
    margin-bottom: 5%;
}

    /* End of Section 3 Notes */

    /* Section 4 About us and Cards */
.section_4{
    background-color: #ffffffcc;
    color: #fff;
    padding: 0 0 50px 0;
    

}
.col{
    margin:10px;
}
.user_card{
    background-color: rgba(58, 51, 51, 0.788);
    
}

    /* Contact section */

  .contact_me_name{
      font-weight: bolder;
      letter-spacing: 2px;
      
  }
    /* Button Modification */
  .submit_btn{
      border-style: solid;
      padding: 10px 30px;
      color: rgb(240, 227, 227);
      transition: .6s;
      font-size: 18px;
      border-color: darkcyan;
      overflow: hidden;
  }

  .submit_btn:focus{
      outline: none;
  }

  .submit_btn:hover{
      background: rgba(211, 26, 42, 0.856);
      cursor: pointer;
  }

  .submit_btn:hover:before{
      transform: translateX(300px) skew(-15deg);
      opacity: .6;
      transition: .7s;

  }

  .submit_btn:hover::after{
      transform: translateX(300px) skew(-15deg);
      opacity: .6;
      transition: .7s;
  }

    /* End of contact section */

    /* Footer section */

.social_icon{
    
    font-size: 20px;
    padding: 10px;
}

.footer_section{
    background-color: #ffffffcc;
    text-align: center;
    padding: 64px 0 0 0;
}

.last_line{

    border-style: solid;
    border-width: 10px 0 0 0;
    border-color: #07f763;
}

/* End Of Footer section */

@media screen and (min-width: 768px) {
    .container{
        width:80%;
    }
}

@media screen and (min-width: 992px) {
    .container{
        width:70%;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width:55%;
    }
}